* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
  min-width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 22px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

header {
  padding: 0px 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Overpass;
  font-style: normal;
  margin-bottom: 30px;
}

header .caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;

  letter-spacing: -1px;

  color: #000000;
}

header .content {
  margin-top: 15px;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;

  color: #666666;
}

.make_special {
  display: grid;
  flex-direction: column;
  text-align: center;
  font-family: Overpass;
  font-style: normal;
  margin-bottom: 30px;
}

.make_special .experience {
  padding: 0px 64px 20px 64px;
}

.make_special .caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.5px;

  color: #000000;
}

.make_special .content {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7a7a7a;
}

.features {
  font-family: Overpass;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "h2"
    "feature1"
    "feature2"
    "img";
}

.features h2 {
  grid-area: h2;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1.5px;

  color: #000000;
  margin-bottom: 10px;
}

.features .feature {
  display: grid;
  grid-template-columns: 34px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img caption"
    "img content";
  column-gap: 17px;
  margin-bottom: 10px;
}

.features .feature:first {
  grid-area: feature1;
}

.features .feature:last-child {
  grid-area: feature2;
}

.features .feature img {
  grid-area: img;
}

.features .feature .caption {
  grid-area: caption;

  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.features .feature .content {
  grid-area: content;

  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7a7a7a;
}

.features > img {
  width: 100%;
  grid-area: img;
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .container {
    padding: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header special special"
      "features features features";
    gap: 34px 17px;
  }

  header {
    grid-area: header;
    margin-bottom: 0px;
    padding-left: 0px;
  }

  .make_special {
    grid-area: special;
    margin-bottom: 0px;
  }

  .features {
    grid-area: features;
  }

  header,
  .make_special,
  .features h2 {
    text-align: left;
  }

  .make_special {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 17px;
  }

  .make_special .experience {
    padding: 0px;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "img img"
      "h2 h2"
      "feature1 feature2";
    column-gap: 15px;
  }

  .features > img {
    margin-bottom: 31px;
  }

  .features h2 {
    text-align: left;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1440px) {
}
